.login-container {
  @apply h-screen w-full bg-cover bg-center;
  background-image: url("../../../images/backgrounds/background_login.png");
}

.login-container__logo {
  @apply flex justify-center py-16 w-full h-auto;
}

.login-container__logo img {
  @apply w-32;
}

.login-container__title {
  @apply w-full;
}

.login-container__title h1 {
  @apply pl-8 pr-16 leading-tight text-left text-white text-3xl;
  font-weight: 600;
}

.form-container {
  @apply w-full py-5 px-8;
}

.form-container label {
  @apply block text-left text-white text-base pt-3;
  font-weight: 550;
}

.form-container input {
  @apply w-full rounded-lg h-10 bg-white bg-no-repeat pl-10;
  font-weight: 550;
  background-position: 5% 50%;
  color: #057175;
}

.user-input {
  background: url(../../../images/icons/icono_user.svg) 7px 7px;
}

.password-input {
  background: url(../../../images/icons/icono_contrasena.svg) 7px 7px;
}

.login-container__checkbox {
  @apply w-full px-8;
}

.login-container__checkbox label {
  @apply pl-3 text-left text-white text-lg underline;
  font-weight: 250;
}

.login-container__submit {
  @apply flex justify-center w-full mt-5 mb-8;
}

.login-controls-container {
  @apply flex justify-around;
}

.login-controls-container a {
  @apply flex-initial text-white underline text-base;
  font-weight: 250;
}

.login-controls-container a:nth-child(1) {
  @apply text-left;
}

.login-controls-container a:nth-child(2) {
  @apply text-right;
}
