.header-navbar {
  @apply w-full;
}

.header-navbar.hidden {
  @apply hidden;
}

.header-navbar.active {
  @apply flex;
}

.navbar {
  @apply flex justify-between p-8;
  background-color: #149DA2;
}

.navbar--white {
  @apply flex justify-between p-8;
  background-color: #FFF;
}

.navbar--white {
  @apply flex justify-between p-8;
  background-color: #FFF;
}

.navbar__item-container {
  @apply flex-initial w-auto;
}

.navbar__item-icon {
  @apply text-center block justify-center;
}
