.welcome-container {
  @apply h-screen w-full bg-cover bg-center;
  background-image: url("../../../images/backgrounds/background_welcome.png");
}

.welcome-container__logo {
  @apply flex justify-center py-16 w-full h-auto;
}

.welcome-container__logo img{
  @apply w-40;
}

.welcome-container__title {
  @apply w-full;
}

.welcome-container__title h1{
  @apply pl-8 pr-16 leading-tight text-left text-white text-5xl;
  font-weight: 600;
}

.welcome-container__description {
  @apply w-full;
}

.welcome-container__description h3{
  @apply pt-3 pl-8 pr-16 leading-tight text-left text-white text-2xl;
  font-weight: 200;
}

.welcome-container__button {
  @apply flex justify-center w-full mt-16 mb-8;
}

.welcome-container__login-link {
  @apply flex justify-center w-full my-2;
}

.welcome-container__login-link a{
  @apply text-white text-base underline;
  font-weight: 200;
}
